# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
.env

# A submodule from https://github.com/preshetin/ts-ddng-client is supposted to be placed here
*.swp
*.swo
