SLACK_BOT_TOKEN='getFromSlackAppConsole'
SLACK_SIGNING_SECRET="also get in in Slack console"
SLACK_LOG_LEVEL=debug
SLACK_REQUEST_LOG_ENABLED=1
DREBEDENGI_API_ID="request it manually from drebedengi support"
DREBEDENGI_USERNAME=demo@example.com
DREBEDENGI_PASSWORD=demo
NOTIFICATION_CHANNEL_ID=C111111111
